<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Future Imperfect
		link(href="assets/css/bootstrap.min.css" rel="stylesheet")
		link(href="assets/css/font-awesome.min.css" rel="stylesheet")
		link(rel="stylesheet" type="text/css" href="assets/sass/main.css")
	body
		
		header
			nav.navbar.navbar-default
				div.container-fluid
					div.navbar-header
						button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navbarCollapse")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href="#") FUTURE IMPERFECT
					div.collapse.navbar-collapse#navbarCollapse
						ul.nav.navbar-nav
							li
								a(href="#") HOME
							li
								a(href="#") ABOUT US
							li
								a(href="#") SERVICES



		script(src="assets/js/jquery.min.js")
		script(src="assets/js/bootstrap.min.js")
